In [21]:
import pandas as pd
import numpy as np
from matplotlib import pyplot  as plot

# df = pd.read_csv('sources/Unicorn-companies.csv', engine='pyarrow', dtype_backend='pyarrow',  encoding='ISO-8859-1')
df = pd.read_csv('sources/Unicorn-companies.csv', engine='pyarrow', dtype_backend='pyarrow',  encoding='ISO-8859-1')

int_columns = df.select_dtypes('int')
str_columns = df.select_dtypes('string')
str_columns

,Company,Industry,City,Country/Region,Continent,Funding,Select Investors
0,Bytedance,Artificial intelligence,Beijing,China,Asia,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,Other,Hawthorne,United States,North America,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,E-commerce & direct-to-consumer,Shenzhen,China,Asia,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,FinTech,San Francisco,United States,North America,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,Fintech,Stockholm,Sweden,Europe,$4B,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...
1069,Zhaogang,E-commerce & direct-to-consumer,Shanghai,China,Asia,$379M,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,E-commerce & direct-to-consumer,Beijing,China,Asia,$990M,"58.com, Tencent Holdings"
1071,Zihaiguo,Consumer & retail,Chongqing,China,Asia,$80M,"Xingwang Investment Management, China Capital ..."
1072,Zopa,Fintech,London,United Kingdom,Europe,$792M,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,E-commerce & direct-to-consumer,Long Beach,United States,North America,$620M,"Novator Partners, True, Causeway Media Partners"

In [216]:
int_columns.describe().T
str_columns.describe().T #showing different describe than for integer

                 count unique              top freq
Company           1074   1071          BrewDog    2
Industry          1074     18          Fintech  204
City              1057    256    San Francisco  149
Country/Region    1074     47    United States  561
Continent         1074      6    North America  588
Funding           1074    538              $1B   59
Select Investors  1074   1059  Sequoia Capital    3

In [26]:
use_mem_int = (int_columns.memory_usage(deep=True).sum())
use_mem_str = (str_columns.memory_usage(deep=True).sum())
(use_mem_str + use_mem_int)
use_mem_int
use_mem_str

NameError: name 'columns' is not defined

In [129]:
(str_columns.astype('category').memory_usage(deep=True).sum())

np.int64(185960)

In [253]:
(df
 .select_dtypes('string')
 .isna()
 .mean()
 .mul(100)
 .pipe(lambda ser: ser[ser>0]) #Function will return columns with missing values
 )

City    1.582868
dtype: float64

In [226]:
(df
 .select_dtypes('string')
 .eq(None)
 .mean()
 .mul(100)
 .pipe(lambda ser: ser[ser>0])
 )

Series([], dtype: double[pyarrow])

In [227]:
(df
 [~df
 .select_dtypes('string')
 .eq(None)
 .any(axis='columns')
 ]
 )

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95,2014-01-23,FinTech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,2017-06-29,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,$379M,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1,2017-04-18,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,$990M,"58.com, Tencent Holdings"
1071,Zihaiguo,1,2021-05-06,Consumer & retail,Chongqing,China,Asia,2018,$80M,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1,2021-10-19,Fintech,London,United Kingdom,Europe,2005,$792M,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1,2020-09-16,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,$620M,"Novator Partners, True, Causeway Media Partners"

In [8]:
(df
  [~df
  .eq(None)
  .any(axis='columns')
  ]
 )

NameError: name 'df' is not defined

In [272]:
(df
 .select_dtypes('string')
 .eq('<NA>')
 .mean()
 .mul(100)
 .pipe(lambda ser: ser[ser > 0])
 )

Series([], dtype: double[pyarrow])

In [303]:
#Quering that equal to NA
(
 df
 .query('City == "Not Applicable"')   
    
)

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
12,FTX,32,2021-07-20,Fintech,Not Applicable,Bahamas,North America,2018,$2B,"Sequoia Capital, Thoma Bravo, Softbank"
169,HyalRoute,4,2020-05-26,Mobile & telecommunications,Not Applicable,Singapore,Asia,2015,$263M,Kuang-Chi
241,Moglix,3,2021-05-17,E-commerce & direct-to-consumer,Not Applicable,Singapore,Asia,2015,$471M,"Jungle Ventures, Accel, Venture Highway"
250,Trax,3,2019-07-22,Artificial intelligence,Not Applicable,Singapore,Asia,2010,$1B,"Hopu Investment Management, Boyu Capital, DC T..."
324,Amber Group,3,2021-06-21,Fintech,Not Applicable,Hong Kong,Asia,2015,$328M,"Tiger Global Management, Tiger Brokers, DCM Ve..."
381,Ninja Van,2,2021-09-27,"Supply chain, logistics, & delivery",Not Applicable,Singapore,Asia,2014,$975M,"B Capital Group, Monk's Hill Ventures, Dynamic..."
511,ZocDoc,2,2015-08-20,Health,Not Applicable,United States,North America,2007,$374M,Founders Fund
540,Advance Intelligence Group,2,2021-09-23,Artificial intelligence,Not Applicable,Singapore,Asia,2016,$536M,"Vision Plus Capital, GSR Ventures, ZhenFund"
810,Carousell,1,2021-09-15,E-commerce & direct-to-consumer,Not Applicable,Singapore,Asia,2012,$288M,"500 Global, Rakuten Ventures, Golden Gate Vent..."
847,Matrixport,1,2021-06-01,Fintech,Not Applicable,Singapore,Asia,2019,$100M,"Dragonfly Captial, Qiming Venture Partners, DS..."
879,bolttech,1,2021-07-01,Fintech,Not Applicable,Singapore,Asia,2018,$210M,"Mundi Ventures, Doqling Capital Partners, Acti..."
888,Carro,1,2021-06-14,E-commerce & direct-to-consumer,Not Applicable,Singapore,Asia,2015,$595M,"SingTel Innov8, Alpha JWC Ventures, Golden Gat..."
892,Cider,1,2021-09-02,E-commerce & direct-to-consumer,Not Applicable,Hong Kong,Asia,2020,$140M,"Andreessen Horowitz, DST Global, IDG Capital"
979,NIUM,1,2021-07-13,Fintech,Not Applicable,Singapore,Asia,2014,$285M,"Vertex Ventures SE Asia, Global Founders Capit..."
985,ONE,1,2021-12-08,Internet software & services,Not Applicable,Singapore,Asia,2011,$515M,"Temasek, Guggenheim Investments, Qatar Investm..."
993,PatSnap,1,2021-03-16,Internet software & services,Not Applicable,Singapore,Asia,2007,$352M,"Sequoia Capital China, Shunwei Capital Partner..."
1061,WeLab,1,2017-11-08,FinTech,Not Applicable,Hong Kong,Asia,2013,$871M,"Sequoia Capital China, ING, Alibaba Entreprene..."

In [277]:
#Filling in empty string with 'Not Applicable'
#** are for all of these. To unpack results

(df
 .assign(
     **df.select_dtypes('string').replace('', 'Not Applicable')
 )
 )

,Company,Valuation,Date Joined,Industry,City,Country/Region,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95,2014-01-23,FinTech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."
...,...,...,...,...,...,...,...,...,...,...
1069,Zhaogang,1,2017-06-29,E-commerce & direct-to-consumer,Shanghai,China,Asia,2012,$379M,"K2 Ventures, Matrix Partners China, IDG Capital"
1070,Zhuan Zhuan,1,2017-04-18,E-commerce & direct-to-consumer,Beijing,China,Asia,2015,$990M,"58.com, Tencent Holdings"
1071,Zihaiguo,1,2021-05-06,Consumer & retail,Chongqing,China,Asia,2018,$80M,"Xingwang Investment Management, China Capital ..."
1072,Zopa,1,2021-10-19,Fintech,London,United Kingdom,Europe,2005,$792M,"IAG Capital Partners, Augmentum Fintech, North..."
1073,Zwift,1,2020-09-16,E-commerce & direct-to-consumer,Long Beach,United States,North America,2014,$620M,"Novator Partners, True, Causeway Media Partners"

In [292]:
missing_value = df[df['City'].isna()]
# missing_value['City']
missing_value

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Industry, City, Country/Region, Continent, Year Founded, Funding, Select Investors]
Index: []

In [337]:

df['City'] = df['City'].fillna('Not Applicable')
count_NA = df['City'] == 'Not Applicable'
count_NA.value_counts()
# count_NA
# df[count_NA] #To get that value as whole table

City
False    1057
True       17
Name: count, dtype: int64[pyarrow]

In [341]:
#Columns' value count
equal_to_one = (df
 .City
 .value_counts()
 )

# equal_to_one.sort_values(ascending=True)
rows_with_count_one = equal_to_one[equal_to_one == 1]
rows_with_count_one
rows_with_count_one.value_counts()

count
1    155
Name: count, dtype: int64[pyarrow]

In [349]:
NA_found = df['City'] == 'Not Applicable'
df[NA_found]['City']

12      Not Applicable
169     Not Applicable
241     Not Applicable
250     Not Applicable
324     Not Applicable
381     Not Applicable
511     Not Applicable
540     Not Applicable
810     Not Applicable
847     Not Applicable
879     Not Applicable
888     Not Applicable
892     Not Applicable
979     Not Applicable
985     Not Applicable
993     Not Applicable
1061    Not Applicable
Name: City, dtype: string[pyarrow]

In [371]:
(df
 .assign(
     **df
     .select_dtypes('string')
     .replace('Not Applicable', 'NA')
     .astype('category')
 )
 .memory_usage()
 .sum()
 
 )

np.int64(207447)

In [385]:
(df
 .select_dtypes(int)
 .describe()
 )

       Valuation  Year Founded
count     1074.0        1074.0
mean    3.445996   2012.870577
std     8.544242      5.705494
min          1.0        1919.0
25%          1.0        2011.0
50%          2.0        2014.0
75%          3.0        2016.0
max        180.0        2021.0

In [7]:
(df
#  .query('Valuation.isna()')
.query('`Year Founded` == 2016')
 )

NameError: name 'df' is not defined

In [417]:
with pd.option_context('display.max_row', 5, 'display.max_columns', 5):
    display(df.query('City == "Not Applicable"'))

,Company,Valuation,...,Funding,Select Investors
12,FTX,32,...,$2B,"Sequoia Capital, Thoma Bravo, Softbank"
169,HyalRoute,4,...,$263M,Kuang-Chi
...,...,...,...,...,...
993,PatSnap,1,...,$352M,"Sequoia Capital China, Shunwei Capital Partner..."
1061,WeLab,1,...,$871M,"Sequoia Capital China, ING, Alibaba Entreprene..."

In [427]:
# ? mark is for explanation of methods 
df.select_dtypes?

Signature: df.select_dtypes(include=None, exclude=None) -> 'Self'
Docstring:
Return a subset of the DataFrame's columns based on the column dtypes.

Parameters
----------
include, exclude : scalar or list-like
    A selection of dtypes or strings to be included/excluded. At least
    one of these parameters must be supplied.

Returns
-------
DataFrame
    The subset of the frame including the dtypes in ``include`` and
    excluding the dtypes in ``exclude``.

Raises
------
ValueError
    * If both of ``include`` and ``exclude`` are empty
    * If ``include`` and ``exclude`` have overlapping elements
    * If any kind of string dtype is passed in.

See Also
--------
DataFrame.dtypes: Return Series with the data type of each column.

Notes
-----
* To select all *numeric* types, use ``np.number`` or ``'number'``
* To select strings you must use the ``object`` dtype, but note that
  this will return *all* object dtype columns
* See the `numpy dtype hierarchy
  <https://numpy.org/doc/stable/reference/arrays.scalars.html>`__
* To select datetimes, use ``np.datetime64``, ``'datetime'`` or
  ``'datetime64'``
* To select timedeltas, use ``np.timedelta64``, ``'timedelta'`` or
  ``'timedelta64'``
* To select Pandas categorical dtypes, use ``'category'``
* To select Pandas datetimetz dtypes, use ``'datetimetz'``
  or ``'datetime64[ns, tz]'``

Examples
--------
>>> df = pd.DataFrame({'a': [1, 2] * 3,
...                    'b': [True, False] * 3,
...                    'c': [1.0, 2.0] * 3})
>>> df
        a      b  c
0       1   True  1.0
1       2  False  2.0
2       1   True  1.0
3       2  False  2.0
4       1   True  1.0
5       2  False  2.0

>>> df.select_dtypes(include='bool')
   b
0  True
1  False
2  True
3  False
4  True
5  False

>>> df.select_dtypes(include=['float64'])
   c
0  1.0
1  2.0
2  1.0
3  2.0
4  1.0
5  2.0

>>> df.select_dtypes(exclude=['int64'])
       b    c
0   True  1.0
1  False  2.0
2   True  1.0
3  False  2.0
4   True  1.0
5  False  2.0
File:      c:\users\user\appdata\local\programs\python\python312\lib\site-packages\pandas\core\frame.py
Type:      method

In [ ]:
# for setting sticky rows and columns by 0/1
df.style.set_sticky(axis=0)

In [468]:
with pd.option_context('display.max_rows', 10, 'display.max_columns',4):
    display(df.query('`Year Founded` > 2016'))

,Company,Valuation,...,Funding,Select Investors
12,FTX,32,...,$2B,"Sequoia Capital, Thoma Bravo, Softbank"
26,Devoted Health,13,...,$2B,"Andreessen Horowitz, F-Prime Capital, Venrock"
27,OpenSea,13,...,$427M,"Andreessen Horowitz, Thirty Five Ventures, Sou..."
31,Faire,12,...,$1B,"Khosla Ventures, Forerunner Ventures, Sequoia ..."
33,Brex,12,...,$1B,"DST Global, Ribbit Capital, Greenoaks Capital ..."
...,...,...,...,...,...
1056,VOI,1,...,$516M,"Vostok New Ventures, The Raine Group, Balderto..."
1059,Watershed,1,...,$70M,"Kleiner Perkins Caufield & Byers, Sequoia Capital"
1060,Weights & Biases,1,...,$200M,"Coatue Management, Insight Partners, Trinity V..."
1063,Wrapbook,1,...,$131M,"Equal Ventures, Uncork Capital, Andreessen Hor..."
1071,Zihaiguo,1,...,$80M,"Xingwang Investment Management, China Capital ..."

In [512]:
(df
 .filter(axis=1, like='City')
 )

            City
0        Beijing
...          ...
1073  Long Beach

[1074 rows x 1 columns]

In [513]:
(df
 .filter(like='Year')
 .pipe(lambda df_: df_[df_.gt(2014).any(axis='columns')])
 )

      Year Founded
8             2015
...            ...
1071          2018

[479 rows x 1 columns]

In [6]:
(df
 .rename(columns=lambda name: name.replace('Year Founded', 'Founded_Year'))
 .filter(like='Year')
)

NameError: name 'df' is not defined

In [549]:
(df
 ['Valuation']
 .clip(upper=df['Year Founded'].max())
 .value_counts()
#  .sort_index(ascending=True)
 )

Valuation
1     472
     ...
14      1
Name: count, Length: 30, dtype: int64[pyarrow]

In [554]:
# pandas as default using
import numpy as np
for size in [np.uint8, np.uint16, np.uint32]:
    print(np.iinfo(size))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for uint16
---------------------------------------------------------------
min = 0
max = 65535
---------------------------------------------------------------

Machine parameters for uint32
---------------------------------------------------------------
min = 0
max = 4294967295
---------------------------------------------------------------

In [ ]:
# Great function for using with integer to decrease with types' weight
def shrink_ints(df):
    mapping = {}
    for col in df.dtypes[df.dtypes == 'int64[pyarrow]'].index:
        max_ = df[col].max() 
        min_ = df[col].min()
        if min_ < 0:
            continue
        if max_ <255:
            mapping[col] = 'uint8[pyarrow]'
        elif max_ < 65_535:
            mapping[col] = 'uint16[pyarrow]'
        elif max_ < 4294967295:
            mapping[col] = 'uint32[pyarrow]'
    return df.astype(mapping)


(df
 .select_dtypes(int)
 .pipe(shrink_ints)
#  .memory_usage(deep=True)
 ).dtypes

In [618]:
df.select_dtypes(int).dtypes
df['Year Founded']

0       2012
        ...
1073    2014
Name: Year Founded, Length: 1074, dtype: int64[pyarrow]

In [3]:

import numpy as np
import pandas as pd

def clean_companies(df):
    return (df.assign(**df.select_dtypes('string').replace('', 'Missing').astype('category'),
                      **{'count_lightning': df['count_lightning']}
                    ).pipe(shrink_ints)
    )
    
url = 'sources/Lightining-Infos.csv'
raw = pd.read_csv(url, engine='pyarrow', dtype_backend='pyarrow')

companies = clean_companies(raw)


with pd.option_context('display.max_rows', 10, 'display.max_columns', 10):
    display(companies)


companies['count_lightning'] == 'Not Applicable'

NameError: name 'shrink_ints' is not defined